<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide_chat.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style_cd.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="screen">
        <div class="div">
            <div class="overlap">
                <div class="view">
                    <div class="view-2">
                        <div class="div-wrapper">
                            <div class="text-wrapper">장르</div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper">드라마</div>
                        </div>
                    </div>
                    <div class="view-3">
                        <div class="div-wrapper">
                            <div class="text-wrapper">등장인물</div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper">김수현,김지원,박성훈,곽동연,이주빈,김갑수</div>
                        </div>
                    </div>
                    <div class="view-4">
                        <div class="div-wrapper">
                            <div class="text-wrapper">연령등급</div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper">15세 이상 시청가</div>
                        </div>
                    </div>
                    <div class="view-5">
                        <div class="div-wrapper">
                            <div class="text-wrapper">회차</div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper">16부작</div>
                        </div>
                    </div>
                </div>
                <div class="view-wrapper">
                    <div class="view-6"></div>
                </div>
                <div class="div-wrapper-2">
                    <p class="p"> 세기의 결혼... 세기의 전쟁? 퀸즈 그룹 재벌 3세, 백화점의 여왕 ′홍해인′. 용두리 이장 아들, 슈퍼마켓 왕자 ′백현우′. 3년차 부부의 아찔한
                        위기와 기적처럼 다시 시작되는 사랑 이야기 </p>
                </div>
            </div>
            <div class="overlap-group"> <img class="ott" src="{% static 'img/ott.png' %}" />
                <div class="overlap-wrapper">
                    <div class="overlap-2">
                        <div class="text-wrapper-2">찜하기</div> <img class="bookmark" src="{% static 'img/bookmark.png' %}" />
                    </div>
                </div>
                <div class="overlap-group-wrapper">
                    <div class="overlap-2">
                        <div class="text-wrapper-3">보는중</div> <img class="eye" src="{% static 'img/eye.png' %}" />
                    </div>
                </div>
                <div class="div-wrapper-3">
                    <p class="text-wrapper-4"> 세기의 결혼... 세기의 전쟁? 퀸즈 그룹 재벌 3세, 백화점의 여왕 ′홍해인′. 용두리 이장 아들, 슈퍼마켓 왕자 ′백현우′.
                        3년차 부부의 아찔한 위기와 기적처럼 다시 시작되는 사랑 이야기 </p>
                </div>
                <div class="view-7">
                    <div class="view-8">
                        <div class="text-wrapper-5">2024</div>
                    </div>
                    <div class="view-8">
                        <div class="text-wrapper-5">시리즈</div>
                    </div>
                    <div class="view-8">
                        <div class="text-wrapper-5">드라마/로맨스</div>
                    </div>
                    <div class="view-8">
                        <div class="text-wrapper-5">15세이상시청가</div>
                    </div>
                </div>
                <div class="view-9">
                    <div class="text-wrapper-6">눈물의 여왕</div>
                </div> <img class="image" src="{% static 'img/image.png' %}" />
            </div>
            <div class="overlap-3"> <button class="button">
                    <div class="overlap-group-2">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-7">커뮤니티</div>
                    </div>
                </button> <button class="button-2">
                    <div class="overlap-group-2">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-7">리뷰</div>
                    </div>
                </button> <button class="button-3">
                    <div class="overlap-group-2">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-7">보는 곳</div>
                    </div>
                </button> <button class="button-4">
                    <div class="text-wrapper-8">작품정보</div>
                </button> 
            <!--</div> <img class="icon" src="img/icon.svg" /> <img class="bell-icon"
                src="img/bell-icon.svg" /> <img class="img" src="img/image.svg" /> <button class="login-button">
                <div class="text-wrapper-9">LOGIN</div>
            </button>-->
            <div class="hubflix">
                <div class="overlap-4">
                    <div class="text-wrapper-10">HUBFLIX</div> <img class="vector" src="{%static 'img/huflixm.png' %}" />
                </div>
            </div> <img class="button-5" src="{% static 'img/button.png' %}" />
        </div>
    </div>
</body>

</html> Open in Playground