<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  {% block css %}
  {% endblock %}
</head>

<body>
  <div class="screen">
    <div class="frame-wrapper">
      <div class="frame">
        <div class="view">
          {% for movie in movies5 %}
            <a href="/hubflix/contents_detail/{{movie.contents_id}}">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="image">
            <p style = "font-family: 'Dosis-Bold', Helvetica;font-weight: 700;max-width : 180px;
            color: #ffffff;font-size: 20px;text-align: center;
            overflow: hidden;text-overflow: ellipsis;">{{movie.title}}</p>
          </a>
          {% endfor %}
          <!--<div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>-->
        </div>
        <!--<img class="arrow" src="{%static 'img/arrow-3.png' %}" />-->
        <div class="text-wrapper">회원님이 좋아할 만한 영화</div>
        <img class="vector" src="{%static 'img/vector.png' %}" />
        <div class="div">
          {% for movie in movies4 %}
          <a href="/hubflix/contents_detail/{{movie.contents_id}}">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="image">
            <p style = "font-family: 'Dosis-Bold', Helvetica;font-weight: 700;max-width : 180px;
            color: #ffffff;font-size: 20px;text-align: center;
            overflow: hidden;text-overflow: ellipsis;">{{movie.title}}</p>
          </a>
          {% endfor %}
          <!--<div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>-->
        </div>
        <!--<img class="img" src="{% static 'img/arrow-3.png' %}" />-->
        <div class="text-wrapper-2">개봉 예정작</div>
        <img class="vector-2" src="{%static 'img/vector-1.svg'%}" />
        <div class="view-2">
          {% for movie in movies3 %}
          <a href="/hubflix/contents_detail/{{movie.contents_id}}">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="image">
            <p style = "font-family: 'Dosis-Bold', Helvetica;font-weight: 700;max-width : 180px;
            color: #ffffff;font-size: 20px;text-align: center;
            overflow: hidden;text-overflow: ellipsis;">{{movie.title}}</p>
          </a>
          {% endfor %}
          <!--<div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>-->
        </div>
        <!--<img class="arrow-2" src="{%static 'img/arrow-3.png'%}" />-->
        <div class="text-wrapper-3">지금 뜨는 콘텐츠</div>
        <img class="vector-3" src="{%static 'img/vector-2.svg'%}" />
        <div class="OTT">
          {% for movie in movies2 %}
          <a href="/hubflix/contents_detail/{{movie.contents_id}}">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="image">
            <p style = "font-family: 'Dosis-Bold', Helvetica;font-weight: 700;max-width : 180px;
            color: #ffffff;font-size: 20px;text-align: center;
            overflow: hidden;text-overflow: ellipsis;">{{movie.title}}</p>
          </a>
          {% endfor %}
          <!--<div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>-->
        </div>
        <!--<img class="arrow-3" src="{%static 'img/arrow-3.png'%}" />-->
        <div class="text-wrapper-4">평점이 높은 컨텐츠</div>
        <img class="vector-4" src="{%static 'img/vector-3.svg'%}" />
        <div class="view-3" id = "view-3" style ="top: 831px;
        left: 196px;
        display: flex;
        width: 960px;
        align-items: flex-start;
        gap: 69px;
        position: absolute; " >        
        {% for movie in movies %}
          <a href="/hubflix/contents_detail/{{movie.contents_id}}">
            
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" class="image"  
            style = "position: relative; width: 187px; height: 294px; background-color: #bee2ca2b;
            border-radius: 30px;   display: block;">
            <p style = "font-family: 'Dosis-Bold', Helvetica;font-weight: 700;max-width : 180px;
            color: #ffffff;font-size: 20px;text-align: center;
            overflow: hidden;text-overflow: ellipsis;">{{movie.title}}</p> 
            
          </a>

          <!--<div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>-->
            {% endfor %}
            
        <!--<img class="arrow-4" onclick ="moveSlide(1)" style ="top: 963x;
        left: 1174px;
        position: absolute;
        width: 56px;
        height: 34px; cursor: pointer;"src="{%static 'img/arrow-4.png' %}" />-->
        
      </div>
        
        <div class="overlap">
          <div class="text-wrapper-5">최신 컨텐츠</div>
          <img class="vector-5" src="{%static 'img/vector-4.svg' %}" />
        </div>
        <!--<div class="button1"> 
          <button class="div-wrapper"><div class="text-wrapper-11">#로맨스</div></button> 
          <button class="div-wrapper"><div class="text-wrapper-11">#액션</div></button> 
          <button class="div-wrapper"><div class="text-wrapper-11">#코미디</div></button> 
          <button class="div-wrapper"><div class="text-wrapper-11">#애니메이션</div></button> 
          <button class="div-wrapper"><div class="text-wrapper-11">#스릴러</div></button> 
          <button class="div-wrapper"><div class="text-wrapper-11">#판타지</div></button>
          <button class="div-wrapper"><div class="text-wrapper-11">#SF</div></button> 
          <button class="div-wrapper"><div class="text-wrapper-11">#공포</div></button>
        </div>-->
        <div class="overlap-group">
          <div class="ott">
            <div class="ott-2">
              <img class="ellipse" src="{%static 'img/ellipse-2.png' %}" /> <img class=" vector-6"
                src="{%static 'img/vector-5.png' %}" />
            </div>
            <a href = "/hubflix/netflix">
            <img class="image-2" src="{%static 'img/image-3.png' %}" />
            </a>
            <a href = "/hubflix/wavve">
            <img class="image-3" src="{%static 'img/image.png' %}" />
            </a>
            <a href = "/hubflix/watcha">
            <img class="image-3" src="{%static 'img/image-2.png' %}" />
            </a>
            <a href = "/hubflix/disney">
            <img class="image-3" src="{%static 'img/image-5.png' %}" />
            </a>
            <img class="image-2" src="{%static 'img/image-4.png' %}" />
          </div>
        </div>
        <div class="overlap-group-2">
          <a href ="/hubflix/search">
          <img class="image-4" src="{%static 'img/1.svg' %}" />
          <div class="text-wrapper-6">search...</div>
          <img class="image-5" src="{%static 'img/2.png' %}" />
        </a>
        </div>
        <div class="overlap-2">
          <a href='/hubflix/main'>
            <img class="huflixm" src="{%static 'img/huflixm.png' %}" />
            <div class="text-wrapper-7">HUBFLIX</div>
          </a>
        </div>
        <a href='/hubflix/user_detail'>
          <img style ="position: absolute; width: 52px; height: 40px;
          top: 70px; left: 1250px;" src="{%static 'img/icon.png' %}" />
        </a>
        <p style ="position: absolute; width: 40px; height: 40px;
        top: 80px; left: 900px; color: #ffffff; font-size: 20px;
        font-family: 'Dosis', Helvetica; font-weight: 500;">{{user.nickname}}님</p>
        <!--<img class="bell-icon" src="{%static 'img/bell-icon.png' %}" />-->
        <a href='/hubflix/chat_test'>
          <img class="icon-2" src="{%static 'img/icon-2.png' %}" />
        </a>
        <div class="overlap-3">
          <a href='/hubflix/login'>
            <img class="login-button" src="{%static 'img/login-button.png' %}"> />
            <div class="text-wrapper-8">LOGOUT</div>
          </a>
        </div>
        <div class="navbar">
          <a href='/hubflix/tv'>
          <div class="text-wrapper-9">시리즈</div>
          </a>
          <a href='/hubflix/movie'>
          <div class="text-wrapper-9">영화</div>
          </a>
          <a href='/hubflix/chatbot'>
          <div class="text-wrapper-9">AI 추천</div>
          </a>
          <a href='/hubflix/user_detail'>
          <div class="text-wrapper-10">마이페이지</div>
          </a>
        </div>
        <!--<img class="button" src="{%static 'img/button.png' %}" />-->
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock %}
</body>

</html>