<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide_chat.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style_search.css'%}" />
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="screen">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="view"> <input class="image" style="position: relative;
                    width: 1100px; height: 89px; left: 90px; background-color: #56655a; border-radius:23px; color: #ffffff;
                    font-size: 30px;"  />
                    <!--<div class="text-wrapper">search...</div>--> <img class="img" src="{%static 'img/2.png' %}" />
                </div>
                <div class="overlap">
                    <a href = "/hubflix/search_result">
                    <div class="div">검색</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>