<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide_chat.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style_udc.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="div-wrapper">
        <div class="div">
            <div class="overlap"> 
                <a href = '/hubflix'>
                <img class="vector" src="{%static 'img/img_ud/vector.svg' %}" />
                <div class="text-wrapper">HUBFLIX</div>
                </a>
            </div> <!--<img class="icon" src="{%static 'img/img_ud/image.svg' %}" />--> 
            <img class="img"src="{%static 'img/img_ud/icon-1.svg' %}" /> <!--<img class="bell-icon"
                src="{%static 'img/img_ud/bell-icon.svg' %}" /> <img class="icon-2"
                src="{%static 'img/img_ud/icon.svg' %}" /> <button class="login-button">
                <div class="text-wrapper-2">LOGIN</div>
            </button>-->
            <div class="overlap-group">
                <div class="text-wrapper-3">채은 님</div>
            </div>
            <div class="content-create-wrapper">
                <div class="content-create"><img class="color" src="{%static 'img/img_ud/color-1.svg' %}" /></div>
            </div>
            <div class="overlap-2">
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <a href='/hubflix/user_detail'>
                    <div class="text-wrapper-4">MY OTT</div>
                </a>
                <div class="text-wrapper-5">나의 커뮤니티</div>
                <a href = '/hubflix/user_detail_like'>
                    <div class="text-wrapper-6">관심 목록</div>
                </a>
                <a href = '/hubflix/user_detail_watch'>
                <div class="text-wrapper-7">시청중인 콘텐츠</div>
                </a>
                <div class="rectangle-5"></div>
                <div class="frame">
                    <div class="overlap-group-2">
                        <div class="rectangle-6"></div> <img class="union" src="{%static 'img/img_ud/union-2.svg' %}" />
                        <div class="text-wrapper-8">내가 쓴 댓글</div>
                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap-3">
                        <div class="rectangle-7"></div> <img class="union-2" src="{%static 'img/img_ud/union.svg' %}" />
                        <div class="text-wrapper-9">내가 쓴 게시물</div>
                    </div>
                </div>
                <p class="p">울면서 본 드라마 ㅠㅠ.... 너무 재밌었음 ㅠㅠ</p>
                <p class="text-wrapper-10">저도 재밌게 봤어요 남주랑 여주랑 케미가 대박임!😍</p>
                <div class="text-wrapper-11">다들 영화 동감 보셨나요?!</div>
                <div class="text-wrapper-12">범죄도시3 후기.....🫢</div>
                <div class="text-wrapper-13">다들 인생 영화가 무엇인가요?</div>
            </div>
        </div>
    </div>
</body>

</html>